[submodule "content/posts"]
	path = content/posts
	url = git@github.com:euikook/notes.git
[submodule "themes/icarus"]
	path = themes/hugo-icarus
	url = git@github.com:euikook/hugo-icarus.git
[submodule "themes/slick"]
	path = themes/slick
	url = git@github.com:euikook/slick.git
[submodule "themes/minimo"]
	path = themes/minimo
	url = git@github.com:euikook/minimo
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = git@github.com:euikook/mainroad.git
