---
layout: default
permalink: /tags/
---
<div class="container post">
    <div class="col s10">
        <div class="row" style="padding:10px;">
            <a id="home" class="waves-effect waves-light btn white-text darken-2 grey z-depth-4"
               href="javascript:history.back();"><i class="material-icons">arrow_back</i></a>
        </div>


        <ul class="tag-cloud">
            {% for tag in site.tags %}
            <span style="font-size: {{ tag | last | size | times: 8 | plus: 100  }}%">
				<a href="{{ tag | first | slugify }}">
					{{ tag | first }}
				</a> &nbsp;&nbsp;
			</span>
            {% endfor %}
        </ul>

        <div class="post-content" itemprop="articleBody">
            {% for tag in site.tags %}
            {% capture tagname %}{{ tag | first }}{% endcapture %}

            <a class="no-underline" href="/tags/{{ tagname  | replace: ' ', '+' }}">
          <span class="chip waves-effect waves-teal">
                <code class="highligher-rouge"><nobr>{{ tagname}}</nobr></code>
          </span>
            </a>

            <ul>
                {% for post in site.tags[tagname] %}
                <li>
                    &nbsp;&nbsp;<a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date_to_string }}<br>
                    {{ post.description }}
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
</div>
