<div class="row">
{% for project in site.projects %}
<div class="col s12 m6">
    <div class="card medium sticky-action">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../assets/images/{{project.image}}">
        </div>
        <div class="card-action">
            <span class="card-title activator grey-text text-darken-4">{{project.name}}<i
                    class="material-icons right">more_vert</i></span>
            <p><a class="waves-effect waves-light btn grey darken-1" target="_blank" href="{{project.url}}"><i class="material-icons right">code</i>{{project.button}}</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
            <p>{{project.description}}</p>
        </div>
    </div>
</div>
{% endfor %}
</div>