<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body>
{% include inline-content.html %}

<div id="home" class="section no-pad-top scrollspy">
    <div id="index-banner" class="parallax-container parallax-container-half-height">
        <div class="section no-pad-bot">
            <div class="container">
                <h1 class="header center white-text">{{ site.title }}</h1>
                <div class="row center sub-title-common">
                    <h5 class="header col s12 white-text">{{ site.description }}</h5>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img src="/{{site.parallax_image_one}}" alt="Unsplashed background">
        </div>
    </div>
</div>    

{{content}}

</body>
{% include footer.html %}
</html>
