<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body>
{% include inline-content.html %}

<div id="home" class="section no-pad-top scrollspy">
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center white-text">{{ site.title }}</h1>
                <div class="row center sub-title-main">
                    <h5 class="header col s12 white-text">{{ site.description }}</h5>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="{{site.parallax_image_one}}" alt="Unsplashed background img 1"></div>
    </div>
</div>

<div id="cookies" style="display:{{site.cookies_banner}}">
    <p style="text-align:left; padding-left:8px"><a value="hide/show" id="check"
                                                    class="waves-effect waves-light green lighten-1 btn btn-floating pulse"
                                                    onclick="Materialize.toast('{{site.cookie_accept_message}}', 2000)"><i
            class="material-icons">check</i></a></p>
    {% include cookies.html %}
</div>

</div>

<div class="container" style="padding:20px;">
    <div id="posts" class="section scrollspy">
        <h3 style="text-align:center;">Recent Posts</h3>
        {% include blog-recent-feeds.html %}
    </div>
</div>

<div class="container" style="padding:20px;">
    <div id="projects" class="section scrollspy">

        <h3 style="text-align:center;">{{site.projects_heading}}</h3>

        {% include projects_{{site.projects_type}}.html %}

    </div>

    <div class="container">
        <div id="contact" class="section scrollspy">
            <h3 style="text-align:center;">Links</h3>
            {% include contact.html %}
        </div>
    </div>
</div>

</body>
{% include footer.html %}
</html>
